* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  /* border: 1px solid red; */
}

nav {
	position: fixed;
	top: 10px;
	width: 80%;
	height: 10vh;
	z-index: 2;
}

.navbar {
	position: absolute;
	display: flex;
	align-items: center;
	width: 100%;
	height: 10vh;
	top: 5px;
	left: 5px;
	padding: 0 20px;

	/* For glass morphism effect */
	background: rgba(137, 174, 255, 0);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.1px);
	-webkit-backdrop-filter: blur(4.1px);
	border: 1px solid rgba(137, 174, 255, 0.3);
}

.login-btn {
	position: absolute;
	top: 0;
	right: 10px;
	padding: 10px 16px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

body {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f4f4f4
}

.bg-img {
	position: relative;
	/* Image Credits https://unsplash.com/@jess33mx */
	background-image: url("https://images.unsplash.com/photo-1616699002805-0741e1e4a9c5?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.bg-img::before {
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: -1;
}

.container {
	margin-top: 10vh;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
	margin-bottom: 10px;
}

label {
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	color: #ababab;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select {
	width: 100%;
	padding: 8px;
	margin-bottom: 6px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f3f3f3c3;
}

button {
	font-size: 16px;
	font-weight: bold;
	padding: 10px 20px;
	margin-top: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #0056b3;
}
 
#register {
	width: 100%;
}

/* Login */

.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 25px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
	z-index: 999;
}

.popup h2 {
  margin-bottom: 15px;
}

.popup span,
.popup p {
  color: #5f5f5f;
}

.popup .pay-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.pay-btns #payLaterBtn {
  background-color: #ff6347;
}

.pay-btns #payLaterBtn:hover {
  background-color: #d63d21;
}

.log-cnt {
	position: absolute;
	display: block;
}

.log-cnt #loginForm {
	min-width: 300px;
}

.log-cnt #login {
	width: 100%;
}

/* JavaScript */
.hidden {
	display: none;
}

/* Profile */

.profile {
  display: none;
}

.profile.visible {
  display: block;
}

.profile h1 {
  text-align: center;
}

.profile p {
  margin: 25px;
  font-size: 16px;
  width: 300px;
}

.profile span {
  background-color: #f3f3f3c3;
}

.profile .logout-btn {
  display: flex;
  justify-content: center;
}

.profile #logout {
  margin: 0 25px 5px 25px;
  padding: 10px 20px;
  background-color: #ff6347;
}

.profile #logout:hover {
  background-color: #d63d21;
}

.profile select {
  margin: 0 6px;
  width: 45%;
  outline: none;
}

.profile #info {
  color: blue;
  font-size: 12px;
}

.profile #warning {
  color: #ff6347;
  font-size: 12px;
}

.profile #change-batch {
	line-height: 14px;
}